<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--here we are adding the connection string for the DLL to access it START-->
	<connectionStrings>
		<add name ="Tournaments" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Tournaments;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--here we are adding the connection string for the DLL to access it END-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>